gpxpy>=1.4.1
pandas>=1.1.1
geopandas>=0.6.0
shapely>=1.6.4
numpy>=1.19.1
requests>=2.24.0
polyline==1.4.0
keplergl==0.2.0
#keplergl-cli @ git://github.com/ikespand/keplergl_cli/archive/v0.3.2.tar.gz
-e git://github.com/ikespand/keplergl_cli.git#egg=keplergl_cli

