<div class="form-style-10">
<h1>Find my connections!</h1>
<form method="POST">
    <div class="section"></div>
    <div class="inner-wrap">
        <label>Source* <input type="text" name="src" placeholder="28.69782,77.19269" size="32" /></label>
        <label>Target* <input type="text" name="tgt" placeholder="28.60743,77.22702" size="32" /></label>        
        <label>Radius (meters) <input type="text" name="radius" placeholder="NA" size="18" /></label>
    </div>
    
    <div class="button-section">
     <input type="submit" name="Give me my route!" />
     </span>
    </div>
</form>
</div>